In [1]:
import pandas as pd

In [2]:
datos_csv1 = pd.read_csv('C:/Users/Brandon/Downloads/plano_siembra_tika.csv',dtype={'ciclo':int})
# Importar archivo Excel
#datos_excel = importar_datos('archivo.xlsx', tipo='excel', sheet_name='Sheet1')

In [3]:
datos_csv1 = datos_csv1[
    ['id', 'Finca', 'Bloque', 'Nave', 'Cama', 'Variedad', 'Flor',
       'Semana siembra', 'Ciclo', 'S. Arranque calculada',
        'Estado','Edad',
       'Equejes sembrados.1', 'Origen']
]

In [4]:
datos_csv1.columns = datos_csv1.columns.str.lower()
datos_csv1.columns = datos_csv1.columns.str.replace(' ', '_')

In [5]:
datos_csv1 = datos_csv1[datos_csv1['equejes_sembrados.1']>0]

In [6]:
convertir_entero = ['semana_siembra','edad','equejes_sembrados.1','ciclo']
datos_csv1[convertir_entero] = datos_csv1[convertir_entero].astype(int)

In [7]:
datos_csv1.rename(
    {'equejes_sembrados.1':'esquejes',
    's._arranque_calculada':'arranque',
    'semana_siembra':'siembra'},
    axis=1,
    inplace = True
)

In [8]:
datos_csv2 = datos_csv1.copy()

In [9]:
datos_csv2['camas'] = datos_csv2.esquejes.apply(
    lambda x: round(x/960,1)
)

In [10]:
def pico(x):
    if x <= 40:
        return 1
    elif x > 40 and x <= 76:
        return 2
    else:
        return 3

In [11]:
datos_csv2['pico'] = datos_csv2.edad.apply(
    pico
).astype(int)

In [12]:
datos_csv2.head()

,id,finca,bloque,nave,cama,variedad,flor,siembra,ciclo,arranque,estado,edad,esquejes,origen,camas,pico
0,18106.0,INVERPALMAS,39,5,B3,SPECTRO,MINICLAVEL,2240,3,2438.0,Sembrada,81,932,Real,1.0,3
1,21284.0,INVERPALMAS,21,3,B6,DONCEL,CLAVEL,2312,2,2426.0,Sembrada,57,1068,Real,1.1,2
2,27784.0,PALERMO,24,5,B1,CAESAR,MINICLAVEL,2415,2,2529.0,Sembrada,2,964,Real,1.0,1
3,25571.0,INVERPALMAS,44,3,A5,MOON_LIGHT,CLAVEL,2346,2,2508.0,Sembrada,23,940,Real,1.0,1
4,22358.0,INVERPALMAS,32,8,A4,MOON_LIGHT,CLAVEL,2333,2,2447.0,Sembrada,36,944,Real,1.0,1

In [32]:
datos_csv2.groupby(
    ['ciclo','pico']
)['camas'].sum()

ciclo  pico
1      1        347.8
2      1       4479.6
       2       2437.4
3      3        154.5
Name: camas, dtype: float64

In [24]:
datos_csv2.groupby(
    ['ciclo1','pico']
)['camas'].sum()

ciclo1  pico
1       1        347.8
        2          9.9
2       1       4418.6
        2       2312.0
        3          0.5
3       1         61.0
        2        115.5
        3        154.0
Name: camas, dtype: float64

In [25]:
def ajusta_ciclo(row):
    if row['ciclo'] == 1 and row['pico'] == 2:
        return 2
    elif  row['ciclo'] == 3 and row['pico'] < 3:
        return 2
    elif  row['ciclo'] == 2 and row['pico'] == 3:
        return 3
    else:
        return row['ciclo']

In [26]:
datos_csv2['ciclo_'] = datos_csv2.apply(
    ajusta_ciclo,
    axis=1
)

In [27]:
datos_csv2.head()

,id,finca,bloque,nave,cama,variedad,flor,siembra,ciclo1,arranque,estado,edad,esquejes,origen,camas,pico,ciclo,ciclo_
0,18106.0,INVERPALMAS,39,5,B3,SPECTRO,MINICLAVEL,2240,3,2438.0,Sembrada,81,932,Real,1.0,3,3,3
1,21284.0,INVERPALMAS,21,3,B6,DONCEL,CLAVEL,2312,2,2426.0,Sembrada,57,1068,Real,1.1,2,2,2
2,27784.0,PALERMO,24,5,B1,CAESAR,MINICLAVEL,2415,2,2529.0,Sembrada,2,964,Real,1.0,1,2,2
3,25571.0,INVERPALMAS,44,3,A5,MOON_LIGHT,CLAVEL,2346,2,2508.0,Sembrada,23,940,Real,1.0,1,2,2
4,22358.0,INVERPALMAS,32,8,A4,MOON_LIGHT,CLAVEL,2333,2,2447.0,Sembrada,36,944,Real,1.0,1,2,2

In [28]:
datos_csv2.rename(
    {'ciclo':'ciclo1'},
    axis=1,
    inplace=True
)

In [29]:
datos_csv2['ciclo_'] = datos_csv2['ciclo_'].astype(int)

In [30]:
datos_csv2.rename(
    {'ciclo_':'ciclo'},
    axis=1,
    inplace=True
)

In [31]:
datos_csv2[['id','ciclo']].to_excel(
    "C:/Users/Brandon/Downloads/plano por id.xlsx",
    index=False
)